@import "tailwindcss";
  @plugin "daisyui" {
   themes: light --default, dark --prefersdark,cupcake;
 }

@layer components {
  .sidebar-btn {
    @apply w-full flex items-center gap-3 px-4 py-2 hover:bg-[#1A2230] rounded-lg;
  }
}
